<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <%= link_to "Blog Alpha", root_path %>
      by  <a href="https://www.facebook.com/trieuvippro">Pham Vuong Trieu</a>
    </small>
    <nav>
      <ul>
        <li><%=link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>